<!DOCTYPE html>
<html>
<head>
  <title>Code4</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <!-- GOOGLEMAPS API -->
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script>google.maps.event.addDomListener(window, 'load', initialize);</script>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>         
</head>

<body>

<nav>
  <div class="nav-wrapper #1976d2 blue darken-2">
    <a href="#" class="brand-logo">RT</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="about.html">About</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </div>
</nav> 

<div class="row">
  <div class="col m10 offset-m1">
    <%= yield %>
  </div>
</div>

</body>
</html>
